[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lmdb = "*"
pillow = "*"
imageio = "*"
requests = "*"
black = "*"
redis = "*"
pymemcache = "*"
ptpython = "*"

[dev-packages]

[requires]
python_version = "3.8"
